.navbar h1{
    color: #292929;
    font-size: 24px;
    padding-left: 37px;
    padding-top: 25px;
}

.containers  a{
    text-decoration: none;
    color: #292929;
}

.containers{
    display: flex;
    gap: 33px;
}


.big{
    background-color: white;
    width: 415px;
    height: 720px;
    border-radius: 30px;
    overflow: hidden;
}

body{
    background-color: #676C75;
}

.salid{
    background-color: #EFEFEF;
    font-size: 12px;
    padding-left: 37px;
}

.hero{
    display: flex;
}

.difrnt{
    font-size: 20px;
    color: #292929;
    position: relative;
    left: 80px;
}

.TANA{
    font-size: 12px;
    color: #989898;
    position: relative;
    right: 29px;
    top: 14px;
}

.imeage{
    width: 52px;
    height: 52px;
    align-items: center;
    padding-left: 35px;
    padding-top: 6px;
}

.caffe{
    padding-left: 5px;
}

.difrnt3{
    font-size: 20px;
    color: #292929;
    position: relative;
    left: 80px;
}

.hero39{
        
}

.hr3{
    position: relative;
    left: 92px;
}

.difrnt5{
    font-size: 20px;
    color: #292929;
    position: relative;
    left: 113px;
}

.difrnt4{
    font-size: 20px;
    color: #292929;
    position: relative;
    left: 123px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.flex-container a{
  text-decoration: none;
  color: black;
}

.flex-container{
    position: relative;
    top: 130px;
}

.hero200{
    font-size: 14px;
    color: #292929;
}
.hero35 img{
    padding-left: 15px;
    padding-top: px;
}

.hero35 p{
    color:#989898;
    font-size: 14px;
}

.hero35 a{
    
}



