div input{
    width: 382px;
    height: 31px;
    margin: 0 auto;
    margin-left: 15px;
}

body{
    background-color: #676C75;
}

.img3{
    width: 24px;
    height: 24px;
    position: relative;
    left: 20px;
    top: 33px;
}

div{
    height: 725px;
    background-color: white;
    border-radius: 30px;
    position: relative;
    left: 0;
    overflow: hidden;
}

.img2{
    width: 24px;
    height: 24px;
    position: relative;
    left: 350px;
    top: 33px;
}

.img8{
    width: 415px;
    height: 300px;

    position: relative;
    left: 0;
    top: 361px;
}

.search2{
    margin-left: 15px;
}