*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter' , sans-serif;
}

.cantener{
    margin: 0 auto;
    width: 428px;
}

header{
    background-image: url('./img/more.png');
    background-repeat: no-repeat;
    height: 262px;
}

header h1{
    font-size: 32px;
    color: #0D8BFF;
    text-align: center;
    padding-top: 46px;
}

.states div h5{
    font-size: 18px;
    color: #000000;
    margin-top: 13px;
    margin-bottom: 17px;
}

.story{
    display: flex;
    overflow: scroll;
}

.story div{
    border: 1px blue solid;
    border-radius: 50%;
    padding: 5px;
}

.story::-webkit-scrollbar{
    display: none;
}

.top{
    
}